.home-main{
    width: 100vw;
    /* height: 100vh; */
    background-color: black;
    z-index: -1;
}
.site-titale{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    color: transparent;
    font-size: 7rem;
    letter-spacing: 1rem;
    font-weight: 700;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}
@media only screen and (max-width: 800px)  {
  .site-titale{
    font-size: 5rem;
  }
}
@media only screen and (max-width: 600px)  {
  .site-titale{
    font-size: 4rem;
  }
}